body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 87px;
    margin-left: 290px;
    margin-right: 1077px;
}

.container{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
}
.left{
    margin-top: 145px;
    margin-left: 290px;
}
.left h1{
    width: 582px;
    height: 133px;
    font-size: 52px;
    font-weight: bold;
}
.left p{
    font-weight: 600;
    font-size: 16px;
}
.half-width img{
    width: 440px;
    height: 414px;
    margin-left: 280px;
    margin-top: 60px;
}
.btn{
    border: 0;
    border-radius: 41px;
    background: #E02C6D;
    color: whitesmoke;
    width: 196px;
    height: 44px;
    font-size: 15px;
    font-weight: 700;
    transition-duration: 0.6s;
}
.btn:hover{
    border: 1px solid #E02C6D;
    background-color: white;
    color: #E02C6D;
}
.title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.middle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.affiliat{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    justify-items: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    width: 1047px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.product{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}
.product-banner{
    width: 300px;
    height: 256px;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}
.see-more{
    width: 73%;
    margin: auto;
    
}
.btnn{
    border: 0;
    border-radius: 41px;
    background: #ffffff;
    color: #E02C6D;
    width: 196px;
    height: 44px;
    font-size: 15px;
    font-weight: 700;
    transition-duration: 0.6s;
    float: right;
}
.btnn:hover{
    background-color: #E02C6D;
    color: #ffffff;;
}
.review-title{
    text-align: center;
    margin-top: 75px;
}
hr {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
}
.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    margin-left: 361px;
    margin-right: 387px;
}
.review{
    width: 329px;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    padding: 15px;
    margin-top: 17px;
}
.review-top{
    display: flex;
    align-items: flex-end;
}
.user-thumbnail img{
    width: 65px;
    margin-right: 10px;
}
.user-name{
    margin-bottom: 0;
}
.user-rating .fa-star{
    font-size: 12px;
    margin-top: -70px;
}
.user-rating .fa-star.filled{
    color: #FB8200;
}
.foot{
    background: #0A0826;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 93px;
}
.foot h1{
    font-size: 24px;
    font-weight: bold;
}
.foot p{
    font-size: 14px;
}

.logos{
    color: whitesmoke;
    font-size: 33px;
    margin-left: 10px;

}
@media only screen and (max-width: 600px) {
    .col-mb-100 {
        width: 100%;
        display: block;
        position: relative;
    }
    .left {
    margin: auto !important;
}
    .col-mb-100 img {
        width: 80%;
        margin: auto;
        display: block;
    }
    .affiliat {
    margin: auto !important;
    width: 100%;
    display: block;
    position: relative;
}
.images-logo {
    width: 20%;
    float: left;
    display: contents;
}
.affiliat img {
    width: 60px;
    margin: 14px;
}
section {
    display: block !important;
    clear: both;
    position: relative;
}
.products {
    grid-template-columns: none !important;
    width: 100% !important;
}
.product {
    margin-top: 15px;
    margin-bottom: 15px;
}
.user-thumbnail img {
    display: block;
    width: 150px !important;
    margin:  auto !important;
}

.user-detail {
    text-align: center;
}
.feedback {
    text-align: center;
}
.rating span {
    margin-left: 10px !important;
}
.rating {
    display: flex !important;
    justify-content: start !important;
}
.half-width img{
    height: auto !important;
}
h1 {
    font-size: 25px !important;
    height: auto !important;
    width: auto !important;
}
h1.header {
    margin: auto !important;
}
section.reviews {
    grid: none !important;
    margin: auto !important;
}
.review-top {
    display: block !important;
}
.review {
    box-shadow: none !important;
}
.product {
    width: auto !important;
    padding: 15px 10px !important;
    margin: 15px !important;
}
.btnn {
    margin: auto !important;
    display: block !important;
    float: none !important;
}
header {
    background: #f2f2f2;
    padding: 20px !important;
    text-align: center;
}
.left {
    text-align: center;
}
}
 
